<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Georgia Bulldogs Offensive Stats</title>
</head>
<body>
    <div class="navigation bar"> <!-- top of the page -->
        <p>College Football Dashboard</p>
    </div>
    <div class="team list"> <!-- middle page includes team image on left upper middle, players statistics on the right side, under shows top rushing, recieving performances -->
    </div>
    <div class="footer"> <!-- bottom page includes hyperlinks to go to other teams -->
    </div>
</body>
</html>