<!-- This will act as a homepage -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>CFB Offensive Stats</title>
</head>
<body>
    <div class="navigation bar"> <!-- top of the page -->
        <a href="{{ url_for('dashboard') }}"class="left">College Football Dashboard</a>
        <a href="{{ url_for('tennessee') }}" class="right">Tennessee</a>
        <a href="{{ url_for('lsu') }}" class="right">LSU</a>
        <a href="{{ url_for('georgia') }}"class="right">Georgia</a>
        <a href="{{ url_for('houston') }}" class="right">Houston</a>
        <a href="{{ url_for('ohioState') }}" class="right">Ohio State</a>
    </div>
    <div class="team list"> <!-- middle page includes team image and name to click on -->
        
    </div>
    <div class="footer"> <!-- bottom page includes hyperlinks to go to other teams -->
        <ul>
            <li><a href="{{ url_for('ohioState') }}" class="left">Ohio State Buckeyes</a></li>
            <li><a href="{{ url_for('houston') }}" class="left">Houston Cougars</a></li>
            <li><a href="{{ url_for('georgia') }}" class="left">Georgia Bulldogs</a></li>
            <li><a href="{{ url_for('lsu') }}"class="left">LSU Tigers</a></li>
            <li><a href="{{ url_for('tennessee') }}"class="left">Tennessee Volunteers</a></li>
        </ul>
        <p class="right">Created by: Mavis Phaphol</p>
    </div>
</body>
</html>